table{
    width:100%;
}

.table-container{
    margin-top:20px;
}

.check{
    width:5%;
    text-align:center;
}

.check2{
    text-align:start;
}
.check3{
    width:25%;
    
}

.check4{
    width:15%;
}
thead th{
    text-align: start;
   
    
}
th{
    border-bottom: 1px solid black;
}

td{
    border-bottom:1px solid rgb(218, 211, 211);
}

td a{
    color:blue;
    margin-left:10px;
}